.button{
    background:$main-wine;
    color: $main-cream;
    text-align: center;
    &:hover{
        cursor:pointer;
        background:darken($main-wine, 5%);
    }
    &--xsm{
        font-size: $xsm-font;
        padding: 5px 10px;
        border-radius: calc((#{$md-font} + 10px)/2);
    }
    &--sm{
        font-size: $sm-font;
        padding: 10px 20px;
        border-radius: calc((#{$md-font} + 20px)/2);
    }
    &--md{
        font-size: $md-font;
        padding: 15px 30px;
        border-radius: calc((#{$md-font} + 30px)/2);
    }
    &--lg {
        font-size: $lg-font;
        padding: 20px 40px;
        border-radius: calc((#{$lg-font} + 40px)/2);

    }
    &--xlg {
        font-size: $xlg-font;
    }
    &--expand{
        width:100%;
    }
}


