.imageViewer{
    width:650px;
    &__current{
        width:400px;
        height:400px;
        margin:auto;
    }

    &__others{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 200px;
    }
}