.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between; 
    height:100px;
    &__header{
        color:$main-wine;
        &__text{
            font-size: $lg-font;
        }
    }

    &__links{
        display:flex;
        align-items: center;
        color:$main-wine;
        font-size: $sm-font;
        &__item{
            margin:0 20px;
        }
        &__image {
            height: 60px;
            width: 60px;
            border-radius: 30px;
        }
    }
}