@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

$main-dark: #454545;
$main-cream:#FDF9EF;
$main-wine: #AE1163;
$muted-wine:#863B62;
$pacifico-font: 'Pacifico', cursive;
$architectsDaughter-font:'Architects Daughter', cursive;
$quicksand-font:'Quicksand', sans-serif;
$xlg-font: 64px;
$lg-font:48px;
$md-font: 36px;
$sm-font:24px;
$xsm-font:16px;