@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$main-grey:#50514f;
$main-orange:#f25f5c;
$main-yellow:#ffe066;
$main-blue:#247ba0;
$main-aquamarine:#70c1b3;
$pacifico-font: 'Pacifico', cursive;
$architectsDaughter-font:'Architects Daughter', cursive;
$quicksand-font:'Quicksand', sans-serif;

$bg-font:40px;
$md-font: 24px;
$sm-font:16px;