@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$main-dark: #454545;
$main-gray: #ababab;
$main-cream:#FDF9EF;
$main-wine: #AE1163;
$muted-wine:#863B62;
$main-error: #f2006d;
$main-white: #ffffff;
$lato-font:'Lato', sans-serif;
$xlg-font: 64px;
$lg-font:48px;
$md-font: 36px;
$smd-font: 28px;
$sm-font:24px;
$xsm-font:16px;
$min-viewHeight: 80vh;